header
    h1 Official Media Bias/Fact Check Extension
.content
    p Thank you for installing the Official Media Bias/Fact Check Extension!  We appreciate you becoming part of our community.
    p Be informed as you read your Facebook feed. We are the most comprehensive media bias resource on the internet. There are currently 1100+ media sources listed in our database and growing every day. Don’t be fooled by Fake News sources.

    h3 Release notes for version 1.0.13
    p We are very excited to announce a new feature:  
        strong
            em Collapsable News
        br
        ul
            li 1. Click on the "Collapse" section on the left
            li 2. Choose which news categories to collapse in your feed
            li 3. Revel in the reduction in stress from your extreme FB friends
    h3 We Need Your Help!
    p If you like this extension, please help us out:
    ul
        li
            | Give us a favorable review in the
            |
            a(href='https://chrome.google.com/webstore/detail/official-media-biasfact-c/ganicjnkcddicfioohdaegodjodcbkkh', target='_blank') Chrome Web Store
            | .  This will help grow our users
        li
            | Please tell your friends.  If you would like to share on Facebook,
            |
            a(href="https://www.facebook.com/sharer/sharer.php?u=https%3A//chrome.google.com/webstore/detail/official-media-biasfact-c/ganicjnkcddicfioohdaegodjodcbkkh") click here now
            | .

    p This extension is open-source, and is based here:
        a(href="https://github.com/drmikecrowe/mbfcext")  Github Project Page