h3 Left Bias
label These media sources are moderately to strongly biased toward liberal causes through story selection and&#x2F;or political affiliation.  They may utilize strong loaded words (wording that attempts to influence an audience by using appeal to emotion or stereotypes), publish misleading reports and omit reporting of information that may damage liberal causes. Some sources in this category may be untrustworthy.
    .multiline
        select(data-title='Left Bias View', id='collapse-left')
            option(value='show') Show
            option(value='collapse') Collapse
        b
            i
                |
                |(We recommend collapsing)
h3 Left-Center Bias
label These media sources have a slight to moderate liberal bias.  They often publish factual information that utilizes loaded words (wording that attempts to influence an audience by using appeal to emotion or stereotypes) to favor liberal causes.  These sources are generally trustworthy for information, but may require further investigation.  
    .multiline
        select(data-title='Left-Center Bias View', id='collapse-leftcenter')
            option(value='show') Show
            option(value='collapse') Collapse
        b
            i
                |
                |
h3 Least Biased
label These sources have minimal bias and use very few loaded words (wording that attempts to influence an audience by using appeal to emotion or stereotypes).  The reporting is factual and usually sourced.  These are the most credible media sources.  
    .multiline
        select(data-title='Least Biased View', id='collapse-center')
            option(value='show') Show
            option(value='collapse') Collapse
        b
            i
                |
                |
h3 Right-Center Bias
label These media sources are slightly to moderately conservative in bias. They often publish factual information that utilizes loaded words (wording that attempts to influence an audience by using appeal to emotion or stereotypes) to favor conservative causes. These sources are generally trustworthy for information, but may require further investigation.  
    .multiline
        select(data-title='Right-Center Bias View', id='collapse-right-center')
            option(value='show') Show
            option(value='collapse') Collapse
        b
            i
                |
                |
h3 Right Bias
label These media sources are moderately to strongly biased toward conservative causes through story selection and&#x2F;or political affiliation. They may utilize strong loaded words (wording that attempts to influence an audience by using appeal to emotion or stereotypes), publish misleading reports and omit reporting of information that may damage conservative causes. Some sources in this category may be untrustworthy.
    .multiline
        select(data-title='Right Bias View', id='collapse-right')
            option(value='show') Show
            option(value='collapse') Collapse
        b
            i
                |
                |(We recommend collapsing)
h3 Pro-Science
label These sources consist of legitimate science or are evidence based through the use of credible scientific sourcing.  Legitimate science follows the scientific method, is unbiased and does not use emotional words.  These sources also respect the consensus of experts in the given scientific field and strive to publish peer reviewed science. Some sources in this category may have a slight political bias, but adhere to scientific principles.
    .multiline
        select(data-title='Pro-Science View', id='collapse-pro-science')
            option(value='show') Show
            option(value='collapse') Collapse
        b
            i
                |
                |
h3 Conspiracy-Pseudoscience
label Sources in the Conspiracy-Pseudoscience category “may” publish unverifiable information that is “not always” supported by evidence. These sources “may” be untrustworthy for credible&#x2F;verifiable information, therefore fact checking and further investigation is recommended on a per article basis when obtaining information from these sources. 
    .multiline
        select(data-title='Conspiracy-Pseudoscience View', id='collapse-conspiracy')
            option(value='show') Show
            option(value='collapse') Collapse
        b
            i
                |
                |(We recommend collapsing)
h3 Satire
label These sources exclusively use humor, irony, exaggeration, or ridicule to expose and criticize people’s stupidity or vices, particularly in the context of contemporary politics and other topical issues. Primarily these sources are clear that they are satire and do not attempt to deceive.
    .multiline
        select(data-title='Satire View', id='collapse-satire')
            option(value='show') Show
            option(value='collapse') Collapse
        b
            i
                |
                |
h3 Questionable Sources
label A questionable source exhibits any of the following: extreme bias, overt propaganda, poor or no sourcing to credible information and&#x2F;or is fake news. Fake News is the deliberate attempt to publish hoaxes and&#x2F;or disinformation for the purpose of profit or influence (Learn More). Sources listed in the Questionable Category may be very untrustworthy and should be fact checked on a per article basis. 
    .multiline
        select(data-title='Questionable Sources View', id='collapse-fake-news')
            option(value='show') Show
            option(value='collapse') Collapse
        b
            i
                |
                |(We recommend collapsing)
