
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

#cache
.turbo

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*

out/
build/
dist/

# plasmo - https://www.plasmo.com
.plasmo

# bpp - http://bpp.browser.market/
keys.json

# typescript
.tsbuildinfo

# IntelliJ project files
.idea
*.iml
out
gen
MBFCext.sublime-*
MBFCext*zip
git-old
my_crawler/*.json
my_crawler/.scrapy
MBFCext/extension/aliases.json
MBFCext/extension/biases.json
MBFCext/extension/config.json
MBFCext/extension/sources.json
*.pyc
my_crawler/shelf.dat
/docs/_site/
.credentials
.credentials.ini
venv/
filtered_search
process/valid.export
.vscode
docker-compose.yml
etc/
volumes/
old/
node_modules/
temp
.tmp/
dist/
.sass-cache
.DS_Store
build/
.eslintcache
coverage/
.history/
