.mbfc-table {
    /* float: left; */
    width: 100%;
}
.mbfc-table-table {
    /* float: left; */
    width: 100%;
    display: table;
    border-spacing: 0px !important;
    -webkit-border-horizontal-spacing: 0px !important;
    -webkit-border-vertical-spacing: 0px !important;
    border: none !important;
}
.mbfc-td {
    text-align: center;
}
.mbfc-td-text {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: smaller;
    font-weight: 600;
}
.mbfc-td-text > td {
    padding-bottom: 10px;
}
.mbfc-td-left {
    background-color: #0a44ff;
}
.mbfc-td-left > a {
    color: white !important;
}
.mbfc-td-left-center {
    background-color: #94adff;
}
.mbfc-td-left-center > a {
    color: black !important;
}
.mbfc-td-center {
    background-color: white;
}
.mbfc-td-center > a {
    color: black !important;
}
.mbfc-td-right-center {
    background-color: #ffb4b5;
}
.mbfc-td-right-center > a {
    color: black !important;
}
.mbfc-td-right {
    background-color: #ff171c;
}
.mbfc-td-right > a {
    color: white !important;
}

.mbfc-td-pro-science > a {
    color: white !important;
}

.mbfc-td-satire,
.mbfc-td-conspiracy,
.mbfc-td-fake-news {
    background-color: yellow;
}
.mbfc-td-pro-science {
    background-color: green;
}

.mbfc-td-padding {
    padding: 5px;
}

.mbfc-drop-down {
    /* float: left; */
    cursor: pointer;
    padding: 0 5px 0 5px;
}

.mbfc-hide-ctrl {
    padding-left: 10px;
}

.mbfc-left > a,
.mbfc-right > a,
.mbfc-pro-science > a {
    color: white !important;
}
.mbfc-left-center > a,
.mbfc-right-center > a,
.mbfc-center > a,
.mbfc-satire > a,
.mbfc-conspiracy > a,
.mbfc-least > a,
.mbfc-center > a {
    color: black !important;
}
.mbfc-left {
    padding-left: 2px;
}
.mbfc-left-center {
    padding-left: 25%;
}
.mbfc-right-center {
    padding-left: 63%;
}

.mbfc-right {
    text-align: right;
    padding-right: 2px;
}
.mbfc-pro-science,
.mbfc-satire,
.mbfc-conspiracy,
.mbfc-least,
.mbfc-center {
    width: 100%;
    text-align: center;
}
.mbfcext {
    display: block;
    padding-top: 5px;
}
.mbfc-config {
    /* float: left; */
    padding: 1px 0 0 1px;
    margin-right: 3px;
}
.mbfc-url {
    float: right;
    font-size: 0.8em;
    padding-top: 0;
}
.mbfc-table-left,
.mbfc-table-left-center,
.mbfc-table-center,
.mbfc-table-right-center,
.mbfc-table-right {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAlgAAAAZCAIAAABin8drAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AgcDxM3IiGxZAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAABUZSURBVHja7V1bluPIjiO8rrv/ZRnzYSsCABnKrKnqP/n06cpM21IoHiQIvlD/I1BAoQqoF6pQr6p6ff+y3vq+W9/PfP9yffKFwvUuqmpdSr6+L/UqoMCq174m0D7Wfv58+PNHHYYN/vrjd6hVr5cMSb74Kh/hy++7HiT+2O74HU8VPr9+rlOFlwx4/cd6vaogk+YzDNhNS9+qwsuHVNO8fR75811/tO/qrF/l63VNiI2k9vwU8go52nW11x5JDk/fetmCrs+8UPXaC7Qf4TN15UvsF9zvlj3Xuu/z+oMXOf/3ZtXh588PJW+9q/gufv7/eev6eX8mbiEf+NWvvP5S9X4Xq+pd76pivdtN36yq4vt70/LnyguuJ6p60x4kxxPfqnq/v49f613W+33dvark8+tj73aL0jFf9/o+Wtxafx0X7ro761o4/fz1d1upPj9rya7vfq7zLnmLtig5Khnzdx7o73KP8M32gZshtV9r+kyMn3xdO37/i/rOM64/LZHqn63vX1m4lr5QrOIlgPbnUbze+v6JXxlX64413cB/5mdULFyXwmHw5L64Xmz98fuDDpL+M6uqQPl0GxXlH361X4H7qejjB/vTXlqzZMLlsqg9UQW5K+U6zM9zvYtrjT7/sljXCOtalPXIviJ78LEBUOB+DrA9iX9xfuG7bfIW2PPPEiXH73NBHh3Xvb5by6euSlaQj1r7f6vDYe3yZ65FldnWE6i7hMwNjDiTtFNqI4D/HymM1r3Ar/DCtTm4RMAlrT5yakmu725bB1UGR38EwE7XngURk3Z0uT9gUsMfitPJ5zq62OJ4S7txunV+6ZNHmS1eEvkS0ws7L+lgV6DMt8gL1pYytkNiftoGIq4hXQd+C9NyYaRyqkmYUdYvMOe7Q37YX3jZRvQtTZGqe+6vrf7dLfXdZriGi651LmWJw1Br3PByCVwj2ZsW7fvYOkw1he4FXBKTrsPqMv5sL2OvyAwEfJuBG0UtwW1K7tpXROqLrjCWZP8qjPKtyLYDaDNgc8mUVLyRMAIFcFBkazyo8+ScHk1mj5ApYlOTMkguMSWzF5dEVeEsqe+18vOqO8jyq8+w7QxeeEqXgGxQCXYmVdywJlXHBpBVf1xXUxWNdi8sKcmtHlLg+jGlDIA8busujwL9bYlzCX06koXgAmKjbFCgnx4DmHqrroQa6CBFp7qOpB9u6ggFigKuFMUKmTcQZ1Giy4MGunUdlrKpJt9rYfz1iDzKJg7C6lUB1xzWbKWIpqREG323N/JQzIoqbsLzSdNHblpnyfTv1DV0mTaW7/lcHBjEiROUR88BCFxlfmYjBh8Hh9x7jyLrFQzpvkq91cEfJhtz4TaYUqkBEslegqvtEVSdQM2t7YV2CtCs+VB+CwrAFTllYOvpdJKJSVI/r39rGg660G2LUY+GtCFlgfuNeMZZNBNwsx+iMNpnZ/tmSVtwsmK7OKvNTVXNhunJRgHzwHzuS5h6Jk3S7SOKdhEVN12Uu3W74cXSahTDlFt8b3XCAsx43eeW28ylau7fUHyLNxOeoO8YTKKvOlSH2UCFJndwg4lf8w5vkCsYyMVwUnCbIT/OVs46JhglFG4R6EHMQUAharCDv9atYkFOFx7h5unAq7FFZxRciwT+W5PDQXxcqJqH9TpZpdNcQY2kttU7fLEt54onFW4zx+NhTxtJ9yc62wFffxqnVWgUgBChYRR+JQke/fefmYZBtgQ5RybDwGHbbEilJr/ZB4ruO7RBinijfpA7b9NZuHYb2oPAdyoHo7OEH2PXRvoVJrPK0Chh/wXvqqeCYheWkUsVXiIehlGbmitB4likE7cNobh+ze0StTZLk1RK7w4bh0wjf05inxPQZzvqwQihKV9zqAwy4TXbZEgjm84cYqEumNla4ibUHWIDgFDlk7NttqHh5gtzlsyEormOTEMvpejryGa8DmryVjRwUlc2MOyTDh55bGUIqmx45GDtBdap5uw01pftoLB5amn+V8rhxSQNBgCD9t4IeiY0wybMKF9U/kOlVtrxy63IhxH9Fwpw1Hk4nAc6OJ1BmxpV3PvSBC4GUH6yLcz1PRkimCjNfSzdmYeTZ6vbQ34U6TJrCevl2FO9QrhddXHL4Xtf8Rd6SJRxQpdTIikQBC+MxWJIEPcgdjcJMHF66seicM5LxSLHRsxuMD3nHfp3TfZRDMGL8o+JjVdOXU3u1cZpmmwSx6caEwg3VQMHUDfYqI/lDNCp/mTmsEEnanIYT45V88pzQCFGitCxbRkvuvW9QA/A8B8as60eZVy2IKclh9L4HBCTUZ1oFmecgrCfsPkPlQnrPGa8JQaz+EgnTPsYzocRzqUpIBaWSxfigPyf139Dif4YkgA/pZ3jQWw7ukNuBJccfjX1zMHJXxrhhkHt7UBHBYZ0aTz5dUpowH0k1JXIHcug3kS4dIDHH1K5oJogLdx7J94yda78TBalztxCp+snXnRoeLDoPMySm2s2aA49+dU9mjhwjwVzCrLtohndOi8KHim0g7B4DWoPzQopD+pr/HYiGPGaa3BWeNQ4koSTKw4CvzCenbY6vCT75+7bUecBa+p7pj8mGiAOIKyod3uquFVseI45OTjX1G3ypgculdEbPKwlugs/JpWO72luEToao8cWBU6in8fZodMDCJvBGjYxyxEkPTxq8qYDsy7Onx+F+R95Crva43kLAnMg1jFErRMyzrewDvDSeSHjsnp4MybDD1NImKL+SeV0kmcdOQTFunQnNltbAtKJ5KDRTiDda5W4gy1MJgyFklALQTx0xw8kmgkSaIPyAIRqoZkjtxaRrg1eodkiqn2PIXxIz9kYvs4bRSgkFDl7BNKHqhubwmDr9LbI4bV2yxog3H8wx78aMcumnIbwS5iSM6ICjrLUyTcpkm72pceLgnGZHkdgCB1iDd70DgQVsJrrhEdGamZH/SngJLaFB+sHDoQ/A397wEtQPhlQ7a6Q7SWhIaQR/pZrSqpJ0CYRlQ6IenyF/4Wn8JZBnAgeHnG98fI90elg6ODiEzqkGodEcYpQoCsd1nE8QjxIeZh3bam3xUxSqQ/hOrZAxGCMhsfUDKnmGqmuY9wsJs4sM2Y0UJKuq2QU0NhyMSsh/BLrYJXyEEOFFLgIBNBCLnkbQlgjLjkpQlfkK/2GLj2DhAzC85Nbtl2timT8oQr+mMh8AJ6e6hCFodKcK9sMOwOBzRCHq9iMKhrpR0yY96IT1I7BpK1tBdUL7olxqSMx68gDWhnEVM8iHx7O2YjUmpCwMrG2R5MUTVUTB8uM5lE2GkY40uXqW4H3un+2v7xaYqW8RR4AxPP6e9MwHNo8yCnUEcsnIOTM452+svcHphPhPgloKhiNr6NkX8FjTxaZWfhFNJ3iYmZOK2DOLb0m/bzpgUH46uWkEc2thYkF7UkRHZgjwwTsZMHW1xK3sL2q7KszLnSPB4H7RMvRQ6Q2j+ndDS2hJkrqFDUaUwS7JpsbO5QixKSApkUKE075CiLMPR7E46hBcytYvmz7GH0yi82561Gjm8OMYBNkjOJJ9OsersjN5xBiVjWkx22aQcydTujx3qiZoqTYNk/3vIAZjkvfjRT6kdXc6rhN1MPs0dz2oii5cv4MDpfV5xrpHGY1wJA3bh0Dz+uvTEJUyw3nEOwey8Oeu4Mmr7sFVueM1GpUifMAPESUUQsxONdHD8fIAJbuJJ/Cw1BHV+XSuKs4BdxoTt3g+o+wObdhIHnCvUCYHYegUNZKe3IwiHswhQb4DNbpKcgQc1TIyt/KC3KoXtAdwCqw4uebvZPBMm0+q0dJtCdSldmzGnDPHNPiGNH0PFWrQaZIGXW2GBAvy1A9ChfpYe3WM8YjdgTFiS+7O02DsEqqpQQOg+JReAwnJo5BttbMRlQLUV4OWqY7YBNFSHIYY8os7xiOI+6fsi+Kppi33qUZx6CF84yFZjKt4gkf/YdW4Og+ufH7EEMVKIVaA2Qe/cz8wQIbwZemBnJEb9wRNBT7siNHYCcwVCeRwiMqYfGIqArhkVLZYNAKNha4v6SmhLnxgrBgM3OQaOyiB9pFJC1cm6IOSSMnA+LWOozIWBxUHSbpN3IK9QfRdK9fijM4iqoWTargAELd11R0odxGzDT2yQcG5dVhNEPYc6bzONdiyltxcFX8yvaqjIC9iy2vRiNLALk+SJbF4OT2OxtbCMWJzEzQUDs0BMmWoBGJT6q9rIhHe/IOIDQiNOPVxVXZw8RIE8VUeNRd1HKayhMwntc/4EL5U3DisvwIyY4YYRrSsYfKUMyfT+KN64sWFV1jraleDsZlbnlxQgtdG+kOiJuwefIUhK66XKoXg9Uxb6hKWLZoe06V1TiY1BS3gQojLbWzA/Hhij+Kzsh6Lbx8tBDPGhEn2M4hKxQcgBB+us/PinByDqlSH/2FcCcfXFDu2gihzBzNpImGmcTrKf+9tiRrCGax+nCV6Tcar29eYZzn0FcWnM10SwngQIoGA5/ghlMlxRueT+JU093IwbyrlmTJliaBMKmDTNIVGwkttoBSiUuCZjQxGXhOTijbhLQEmOS9AjviIUj/hRZE5B61zZmJU14eUCM2R1xpiuMmsuOW+GZLUobHWCptwi5wnZovjxY5RuEjtW/1WmXMIqJWf6BVhYBGdctfFvn2VZ+Y3LDN4U534SDwMuWoYGBls5yxk6VAotRDDcRh+uiTMzj8kIEG8PpbVVmCZA4nPEVCsixYpms+d8jBhVSFCdskO3yDwf3B1Ri52RA8wT5nCIhZiztVYaXO4HXOOr2BH3GoVAGsXjtbLaeIXYyEHDjxOGHTJJN+GlU1nla1Ppv5uCvvcE/UGOWAA0kbXnYViLrcqoOT1aycRjgbpBF5u8Kfx8tozLkZGHwswr/WgmZ1xDGIQ0TjuNRAHDP0fs+uJ//lqeLUvPVwGqGxo2hYeCLcd4KdJoyfRswmvDg5mSoLV2pOMdlirIPSCd0WGgcth0Qstuq9AhpNRqbH14ggj2W3TJKakrjxi92FA3dUnvV4oCViE87ho4dhEE6NYirEHKUpy2xfLWGl1XTHihNsKaRbRveuBeHjmYj9sB4Kx7YHutshW6sXKOGJOD0UT6/GD2utqCwDhhaP5lU4ohRwV8Zdy9btrxrc2+uPAwlzdVvixDSyhewGh8+Z99rFft1UgFeqWkX2iVN588EfhMgtQSvj97z+5nWqZFstpTqqwCv3qOdhrD3Ui2ANO55TfDDc614NSNJCCuGV/RjFBrXeGCXxQIuJeKWY4Yy2PUqJCGCfNGlcEF0Fdk8MNQJipsb4Q8w8kvnMeS4tplWPYc4JqP3RjEX44oH3XWgGyz6U3CmDBjVrCP7kz7qhRsEDgc/cgJq/b8UQYDNjWWUUR1dLOzsRDkCy+pz4LqwmHmMnkCn+dtQgcLsNYzBkp9+jmAaFIeDsBV+aZqxRfCaa0uw+wit6SRocg4dZDSYid1fuOhhuMFp1irIZlTnEzovZtsKHrUwEo1hdPyA4E+nP619Zh3M5GBoEA5JQjeXBxJz1eEzekJDLC0jzGJfH0aWfDs4UeRgfexYRm3XSShyNIny7/cQas3Jlos/IyRFL81ASg4IPyTVP3BjLSzE9veccWuq3VdJpgDplU4+S5WE5T2EO3u8pcs0R1V4OFCzvN/GoCGEE9anWpaWfSpm6eDfIiTliQsB771Uyn4IDU8qorFQW+nTyoTJIAs6O0kFVR0it1NRFO6poBal3Rz1aTfmTBd9zigo/Oyl2BXAOMXS7TISbnpi4lh5HHWG6FC4h4zNvCsJxpw9WS9dRk86mLg6jMxkD3f1bduZ5/VJiNENtqO3FiS9sspg11MUuTMkVYxcYJ8K288w7/33KZACmnFjG2Vbrt7KOSnEo2DE3QguvBlqtcF7+SzEK6QU+lgOcXiO41BfoxwA4AOFDpS6KioW0jLCqJfAqIcj43lW8mwpjOes2BFfT9xjd1TTB/1asVNyckfrJySPZW1WMivBpzFtPY96nMe/zuiVFVUVxRmCmkyCQE1OTzIBdCmSiMUq3CzkZApkI7/Sd9glCtY4KHHKMaupNyOAkeZv13+wwdePB1fnSjhpHqkljFm4uRCsxKIBRZkWL1NVGNcFseeDrsjm8tkCP/FYRhrE1Uiu3gV5f7TrtrNwnQ7NZdJ9fY0pxHyXwNOYVFvppzFsGBZ7GvM9rQJGzIXIocRQkyQHuD6ZkVbarje8j5GBz1BsOkmy56gWKKtvzavnB0QC9mSArH+x5xHD2b4se7ncBi0uETwW97snc4KoyZTK6AVQYo547GD32lLbaKRxCBiIyPcZ2OZPUZyvnUXqS6V4rHQ+HoirRzbXu67kfFOHTmPdpzFtPY97ndW8astMg3lKypqA+uNi6qV9Yt8BwNG7odcv2xpqSB6KEbrVmDjVVWA5cBg6x6UoB9byLuZIORFWU1T5dYgWRBTWe956k2ERAFsRBlqVGK7jVCduCxxDRUokBv5HM20lmYbLAyIMPGB6GgNHp+dO+OtL9T2Pe5nt+GvPW05j3eZ2BzH0os0q3oEFmeI6hcgcOXStbMmPbjsg9EWTU3I8X5jJEkIFIZpXqC6kGipvrAlGpUn0MXl6O2H15tHHPTj2Ui6PDE2ahJmNgIo9wJU1GwQ65deSAxiJkKuRv4lM49Nbp0mSYJTEilULPSFHOxe9+MgyfxrxPY96nMe/z+okU/TUobA0wW+xv59l7UC8l/WjOsehE3yQyBvPPA72yi1DU+pLzw14jhs3+PaV98OpB4Tns9uwc0CjdAU7vdJ/l+dE8JRG8oKtA65VqLexhXC6cbdYuelGRtVoNkWqBBrrAoWDQK6ELb5ZBvzBCgjVVdWm79xy78DTmNXg0quOnMe/TmPcxBH/Qiz0DV7FndPiceZvuEYE19KoDEF6SkRjGQFF4FOWqsY6Mvl/0SmaVnWyP6cp1Fy1m9Sym5rMrorVLKBVSy45kpHxwhp/gQMgo06gVROlBGVZTgxafaaFMNC/OUKr4vIhKOUYxyQh1qVMVrmZN8tAA4PyXpzHv05j3acz7vP7EKDxFyaxjlg1lW4DoILEVE7mZdepQ3wNQI9EHzLMBDxxVeL5qau8OfK2JLiLwPTgpTiwlm6rgDJC1SuRuI1fZFUjhIRxfz9ZqoGlmMRF0ByRTqrK5QFTZWN4YW6tkeIGCziSU1+hSSlYUzBgbiHR9nuEaj7i8qqr+D2+GfCpfySD7AAAAAElFTkSuQmCC);
    background-size: 100%;
}
.mbfc-table-satire,
.mbfc-table-conspiracy,
.mbfc-table-fake-news {
    background-size: 100%;
    background-color: yellow;
}
.mbfc-table-pro-science {
    background-size: 100% 25px;
    background-color: green;
}
.mbfcicon {
    float: right;
}
.mbfc-element {
}
.mbfc-table {
    padding-top: 3px;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: x-small;
    text-transform: uppercase;
    /* float: left; */
    width: 100%;
    margin: auto;
    text-align: left;
}
@font-face {
    font-family: "FontAwesome";
    src: url("chrome-extension://__MSG_@@extension_id__/css/font-awesome-4.6.3/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("chrome-extension://__MSG_@@extension_id__/css/font-awesome-4.6.3/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
            format("embedded-opentype"),
        url("chrome-extension://__MSG_@@extension_id__/css/font-awesome-4.6.3/fonts/fontawesome-webfont.woff2?v=4.3.0")
            format("woff2"),
        url("chrome-extension://__MSG_@@extension_id__/css/font-awesome-4.6.3/fonts/fontawesome-webfont.woff?v=4.3.0")
            format("woff"),
        url("chrome-extension://__MSG_@@extension_id__/css/font-awesome-4.6.3/fonts/fontawesome-webfont.ttf?v=4.3.0")
            format("truetype"),
        url("chrome-extension://__MSG_@@extension_id__/css/font-awesome-4.6.3/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
            format("svg");
}
.myButton {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #599bb3),
        color-stop(1, #408c99)
    );
    background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    background-color: #599bb3;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 32px;
    text-decoration: none;
}
.myButton:hover {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #408c99),
        color-stop(1, #599bb3)
    );
    background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    background-color: #408c99;
}
.myButton:active {
    position: relative;
    top: 1px;
}

.mbfc-right-spacer {
    margin-right: 10px;
}

.myButton2 {
    -moz-box-shadow: 3px 4px 0px 0px #899599;
    -webkit-box-shadow: 3px 4px 0px 0px #899599;
    box-shadow: 3px 4px 0px 0px #899599;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #ededed),
        color-stop(1, #bab1ba)
    );
    background: -moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
    background-color: #ededed;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #3a8a9e;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 11px;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}
.myButton2:hover {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #bab1ba),
        color-stop(1, #ededed)
    );
    background: -moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: -webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: -o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: -ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
    background-color: #bab1ba;
}
.myButton2:active {
    position: relative;
    top: 1px;
}

.mbfc-button-success,
.mbfc-button-error,
.mbfc-button-warning,
.mbfc-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.mbfc-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.mbfc-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.mbfc-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.mbfc-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.mbfc-report-div {
    padding-left: 10px;
}
